.portfolio__filter{
    margin-bottom: 1em;
    display: flex;
}

.filter__button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.filter__button:active, .filter__button:focus {
    outline: none;
}

.filter__button::-moz-focus-inner {
    border: 0;
}

.filter__button:active,
.filter__button_checked,
.filter__button:hover{
   color: #34b480;
}

.filter__button:not(:last-child):after{
    content: '\00a0/\00a0';
    color: black;
}

.item-board__item{
    max-width: 34%;
    margin: 0 0.1em;
}

.item__image{
    max-width: 100%;
}
